<% provide(:title, 'Posts') %>
<div id="wrapper-posts">
   <div class="box-posts">
      <%= link_to @recent_post do %>
         <article class="header-article" style="background-image: url(<%= @recent_post.image_banner %>);">
            <div class="introduction">
               <p class="disclaimer"><%= @recent_post.title %> </p>
               <p class="small-disclaimer"><%= @recent_post.description %></p>
               <p class="small-disclaimer"><%= @recent_post.created_at.strftime("%b %d, %Y") %></p>
            </div>
         </article>
      <% end %>
      <% @posts.each do |p| %>
         <%= link_to p do %>
            <article class="tile" style="background-image: url(<%= p.image_thumb %>);">
               <span class="post-tag"><%= p.tag.name %></span>
               <p class="title"><%= p.title %></p>
               <span class="created_at"><%= p.created_at.strftime("%b %d, %Y") %></span>
            </article>
         <%end %>
      <% end %>
   </div>
</div>
