<% provide(:title, "Novo post") %>
<section class="new-post-section">
   <article class="new-post-article">
         <h1> Criar novo post </h1>
         <div class="form">
            <%= form_for @post, :html => { :multipart => true } do |f| %>
            <%= f.label :title,"Título" %>
            <%= f.text_field :title, class: "form-button" %>

            <%= f.label :description,"Descrição" %>
            <%= f.text_field :description, class: "form-button" %>

            <%= f.label :body,"Conteúdo" %>
            <%= f.text_field :body, class: "form-button" %>

            <%= f.label :category,"Tag" %>
            <%= f.collection_select :category_id, Category.all, :id, :name %>

            <%= f.label :remote_image_thumb_url, "Thumbnail image url:" %>
            <%= f.text_field :remote_image_thumb_url, class: "form-button" %>

            <%= f.label :remote_image_banner_url, "Thumbnail image url:" %>
            <%= f.text_field :remote_image_banner_url, class: "form-button" %>

            <%= f.submit "Salvar", class: "button" %>
            <% end %>
         </div>
   </article>
</section>
