<%= provide(:title, @post.title) %>
<section class="show-post">
   <article class="header-article" style="background-image: url(<%= @post.image_banner %>);">
      <div class="introduction">
         <p class="disclaimer"><%= @post.title %> </p>
         <p class="small-disclaimer"><%= @post.description %></p>
         <p class="small-disclaimer"><%= @post.created_at.strftime("%b %d, %Y") %></p>
      </div>
   </article>
   <article class="body-article">
      <p><%= sanitize @post.body %></p>
   </article>
   <aside class="related-posts">
      <p>Related posts: </p>
   </aside>
</section>
